.cardd {
  border: 1px solid gray;
  background-color: rgb(28, 28, 28);
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 500px;
  cursor: pointer;
  color: white;
}
